<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*BootStrap CSS CDN 시작*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    @*BootStrap CSS CDN 끝*@

    <style>
        /* 사이드바 래퍼 스타일 */

        #page-wrapper {
            padding-left: 250px;
        }

        #sidebar-wrapper {
            position: fixed;
            width: 250px;
            height: 100%;
            margin-left: -250px;
            background: #000;
            overflow-x: hidden;
            overflow-y: auto;
        }

        #page-content-wrapper {
            width: 100%;
            padding: 20px;
        }
        /* 사이드바 스타일 */

        .sidebar-nav {
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            .sidebar-nav li {
                text-indent: 1.5em;
                line-height: 2.8em;
            }

                .sidebar-nav li a {
                    display: block;
                    text-decoration: none;
                    color: #999;
                }

                    .sidebar-nav li a:hover {
                        color: #fff;
                        background: rgba(255, 255, 255, 0.2);
                    }

            .sidebar-nav > .sidebar-brand {
                font-size: 1.3em;
                line-height: 3em;
            }

        /*가운데 내용 시작*/
        .carousel-item {
            height: 300px;
        }
        /*가운데 내용 끝*/
        img {
            background-color: blueviolet;
        }

        span {
            color: red;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @*홈 버튼 시작*@
        <div class="conteainer-fulid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">C#</a>
            </div>
        </div>
        @*홈 버튼 끝*@
        @*BootStrap DropDown 시작*@
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">프로그래밍 언어</button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Program" asp-action="Charp">C#</a>
                <a class="dropdown-item" asp-controller="Program" asp-action="Core">Core/.Net5</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">커뮤니티</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Home" asp-action="Community">자유게시판</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="QA">질문/답변</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">소개</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Home" asp-action="MySelf">자기소개</a>
            </div>
        </div>
        <div class="conteainer-fulid" style="position:absolute; right:0;">
            <div class="navbar-header">
                <a class="btn btn-info" asp-controller="Account" asp-action="Login">로그인</a>
                <a class="btn btn-info" asp-controller="Account" asp-action="SignUp">회원가입</a>
            </div>
        </div>
        @*BooStrap DropDown 끝*@
    </nav>

    <!-- 사이드바 -->
    <div id="page-wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">C#</a>
                </li>
                <li><a asp-controller="Program" asp-action="Charp">C# 이란?</a></li>
                <li><a asp-controller="Program" asp-action="Charp2">C# 기본자료형</a></li>
                <li><a asp-controller="Program" asp-action="Charp3">C# 변수</a></li>
                <li><a asp-controller="Program" asp-action="Charp4">C# 연산자</a></li>
                <li><a asp-controller="Program" asp-action="Charp5">C# 조건문</a></li>
                <li><a asp-controller="Program" asp-action="Charp6">C# 반복문</a></li>
                <li><a asp-controller="Program" asp-action="Charp7">C# 클래스</a></li>
                <li><a href="#">메뉴 8</a></li>
                <li><a href="#">메뉴 9</a></li>
            </ul>
        </div>
    </div>
    <!-- /사이드바 -->


    <div>
        @RenderBody()
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="conteainer-fulid">
            <span class="navbar-text">

            </span>
        </div>
    </div>






    @*BootStrap JS CDN 시작*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @*BootStrap JS CDN 끝*@
</body>
</html>
