@{
    ViewBag.Title = "";
    Layout = "EIP_Layout";
}

<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  SDLC(Software Development Life Cycle) </h4>
        <br />
        <p>SDLC 한국말로 소프트웨어 생명주기라고 합니다.</p>
        <p>결론부터 말하면 시스템의 요구분석부터 유지보수까지 모든 과정을 모델화한 절차입니다.</p>
        <img src="~/images/SDLC.jpg" />
        <p>단계는 크게 요구사항분석, 설계, 구현, 테스트, 유지보수 5가지 입니다. </p>
        <p>우리는 지금 외주를 받아서 프로그램을 만든다고 생각해봅시다.</p>
        <p>고객은 우리에게 기능들에 대해 요구사항이 있을 것이고, 우리는 요구사항에 대해 생각이나 회의를 진행할 것입니다.</p>
        <p>이를 요구사항 분석이라고 합니다. 말 그대로 요구에 대한 문제들을 분석하는 것입니다.</p>
        <p>요구사항의 장점은 문제들에 대해 미리 대비할 수 있다는 것 입니다.</p>
        <p>문제에 대해 대비할 수 있다는 것은 자원을 아낄 수 있는 것이고 이는 생산성 향상에 영향을 미칠겁니다.</p>
        <p>물론 모든 것을 대비할 수 는 없겠지만 요구사항분석 단계는 개발의 시작을 알리는 단계입니다.</p>
        <p>달리기 시합의 총소리와 같다고 할 수 있겠네요.</p>
        <p>다음 단계는 설계 입니다.</p>
        <p>설계는 프로그램을 어떻게 만들 것인지를 구상하는 것 인데요.</p>
        <p>개인적으로 정말 중요하면서도 많은 경험과 기술이 필요한 단계인 것 같습니다.</p>
        <p>설계를 어떻게 하느냐에 따라 직진이냐 산으로 가느냐가 나뉘는 것 같거든요.</p>
        <p>자 다시 우리는 고객의 요구를 분석한 상태이고 우리팀의 리더는 어떻게 진행할지 생각을 합니다.</p>
        <p>고객이 요구한 것은 웹 홈페이지 였고 리더는 제작에 사용할 기술을 생각합니다.</p>
        <p>리더가 생각하는 기술은 대표적으로 DB, Server, FrameWork, Design Pattern 등등...</p>
        <p>저 같은 코더가 개발 할 수 있도록 뼈대를 구상하고 있습니다. </p>
        <p>코딩이 운동이라면 설계는 운동장과 운동기계를 어떻게 만들까 고민하는 단계입니다.</p>


        <br />
        <br />


    </div>
</div>