@{
    ViewBag.Title = "";
    Layout = "EIP_Layout";
}

<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  SDLC(Software Development Life Cycle) </h4>
        <br />
        <p>SDLC 한국말로 소프트웨어 생명주기라고 합니다.</p>
        <p>결론부터 말하면 시스템의 요구분석부터 유지보수까지 모든 과정을 모델화한 절차입니다.</p>
        <img src="~/images/SDLC.jpg" />
        <p>단계는 크게 요구사항분석, 설계, 구현, 테스트, 유지보수 5가지 입니다. </p>
        <p>우리는 지금 외주를 받아서 프로그램을 만든다고 생각해봅시다.</p>
        <p>고객은 우리에게 기능들에 대해 요구사항이 있을 것이고, 우리는 요구사항에 대해 생각이나 회의를 진행할 것입니다.</p>
        <p>이를 요구사항 분석이라고 합니다. 말 그대로 요구에 대한 문제들을 분석하는 것입니다.</p>
        <p>요구사항의 장점은 문제들에 대해 미리 대비할 수 있다는 것 입니다.</p>
        <p>문제에 대해 대비할 수 있다는 것은 자원을 아낄 수 있는 것이고 이는 생산성 향상에 영향을 미칠겁니다.</p>
        <p>물론 모든 것을 대비할 수 는 없겠지만 요구사항분석 단계는 개발의 시작을 알리는 단계입니다.</p>
        <p>달리기 시합의 총소리와 같다고 할 수 있겠네요.</p>
        <p>다음 단계는 설계 입니다.</p>
        <p>설계는 프로그램을 어떻게 만들 것인지를 구상하는 것 인데요.</p>
        <p>개인적으로 정말 중요하면서도 많은 경험과 기술이 필요한 단계인 것 같습니다.</p>
        <p>설계를 어떻게 하느냐에 따라 직진이냐 산으로 가느냐가 나뉘는 것 같거든요.</p>
        <p>자 다시 우리는 고객의 요구를 분석한 상태이고 우리팀의 리더는 어떻게 진행할지 생각을 합니다.</p>
        <p>고객이 요구한 것은 웹 홈페이지 였고 리더는 제작에 사용할 기술을 생각합니다.</p>
        <p>리더가 생각하는 기술은 대표적으로 DB, Server, FrameWork, Design Pattern 등등...</p>
        <p>저 같은 코더가 개발 할 수 있도록 뼈대를 구상하는 것 입니다. </p>
        <p>코딩이 운동이라면 설계는 운동장과 운동기계를 어떻게 만들까 고민하는 단계입니다.</p>
        <p>설계는 제작에 있어서 가장 중요한 부분이라고 할 수 있습니다.</p>
        <p>실제로 모든 분야에서 설계하시는 분들의 몸값이 가장 비쌉니다.</p>
        <p>자.. 설계가 완료되고 이제 홈페이지를 제작 해야 합니다.</p>
        <p>제작하는 단계를 구현이라고 표현 합니다.</p>
        <p>구현은 말 그대로 설계를 기반으로 살을 붙히는 작업입니다. 설계가 뼈대라면 구현은 살이 됩니다.</p>
        <p>구현을 통해 살을 모두 붙혀 홈페이지를 만들었습니다.</p>
        <p>그럼 이제 에러가 없는지 확인해야 겠지요?</p>
        <p>이 단계를 테스트라고 합니다.</p>
        <p>테스트를 통해 최종 운영에 배포할 것인지를 결정합니다.</p>
        <p>테스트가 없는 개발은 없으며, 개발이 햄버거라고 하면 테스트는 콜라라고 할 수 있겠네요.</p>
        <p>테스트에서 생각하지 못한 문제를 발견 및 수정 합니다.</p>
        <p>자 거의 다왔습니다.</p>
        <p>우리는 테스트를 통해 수정 및 보안해야할 부분을 모두 보안했고</p>
        <p>라이브 서버에 최종적으로 배포를 하였습니다.</p>
        <p>그런데 고객이 홈페이지에 어떤 부분을 수정해달라고 요청이 왔습니다.</p>
        <p>헛.. 라이브 서버에 배포하면 끝날 줄 알았는데, 이게 무슨 일인가?</p>
        <p>이 단계를 유지보수 단계라고 합니다.</p>
        <p>소프트웨어 생명주기에 있어서 최종 단계입니다.</p>
        <p>유지보수 같은 경우, 계약 기간일 경우 법적으로 유지보수를 제공해야합니다.</p>
        <p>계약기간이 아닐경우, 유료로 서비스를 제공할 수도 있습니다.</p>
        <p>우리는 고객과 유지보수 계약이 되어있었고 우리팀은 고객의 수정사항을 모두 처리하고 개발을 마무리 할 수 있었습니다.</p>
        <br />
        <br />


    </div>
</div>