/.vs/Sln.Triptopaz.B2C/v16/*.suo
/.vs/Sln.Triptopaz.B2C/DesignTimeBuild/*.v2
/App.Triptopaz.B2C/bin
/App.Triptopaz.B2C/obj
/.vs
/App.Triptopaz.B2C/Properties/PublishProfiles
/App.Triptopaz.B2C/.config/dotnet-tools.json
