<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    @*홈 버튼 시작*@
    <div class="conteainer-fulid">
        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">C#</a>
        </div>
    </div>
    @*홈 버튼 끝*@
    @*BootStrap DropDown 시작*@
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">프로그래밍 언어</button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Charp" asp-action="Charp">C#</a>
            <a class="dropdown-item" asp-controller="" asp-action="Core">Core/.Net5</a>
            <a class="dropdown-item" asp-controller="" asp-action="Script">JavaScript</a>
            <a class="dropdown-item" asp-controller="" asp-action="Jquery">Jquery</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Program Info</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="" asp-action="OOP">OOP</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificate</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="EIP" asp-action="SDLC">Engineer Information Processing</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comunity</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Home" asp-action="Community">자유게시판</a>
            <a class="dropdown-item" asp-controller="Home" asp-action="QA">질문/답변</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">기타 Tool</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Home" asp-action="MySelf">Jenkins</a>
        </div>
    </div>
    <div class="conteainer-fulid" style="position:absolute; right:0;">
        <div class="navbar-header">
            <a class="btn btn-info" asp-controller="Account" asp-action="Login">로그인</a>
            <a class="btn btn-info" asp-controller="Account" asp-action="SignUp">회원가입</a>
        </div>
    </div>
    @*BooStrap DropDown 끝*@
</nav>