<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>

@*Jquery CDN Start*@
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
@*Jquery CDN End*@

@*BootStrap CDN Start*@
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
@*BootStrap CDN End*@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    @*홈 버튼 시작*@
    <div class="conteainer-fulid">
        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">C#</a>
        </div>
    </div>
    @*홈 버튼 끝*@
    @*BootStrap DropDown 시작*@
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programming</button>
        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Charp" asp-action="Charp">C#</a>
            <a class="dropdown-item" asp-controller="JavaScript" asp-action="JqueryDataTable">JavaScript</a>
            <a class="dropdown-item" asp-controller="React" asp-action="React">React</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Program Info</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="Programming" asp-action="OOP">OOP</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificate</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="EIP" asp-action="SDLC">Engineer Information Processing</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data Base</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-controller="DB" asp-action="Trigger">Trigger</a>
        </div>
    </div>
    @*<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comunity</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Home" asp-action="Community">자유게시판</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="QA">질문/답변</a>
            </div>
        </div>*@
    @*<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">기타 Tool</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Home" asp-action="MySelf">Jenkins</a>
            </div>
        </div>*@
    @*<div class="conteainer-fulid" style="position:absolute; right:0;">
            <div class="navbar-header">
                <a class="btn btn-info" asp-controller="Account" asp-action="Login">로그인</a>
                <a class="btn btn-info" asp-controller="Account" asp-action="SignUp">회원가입</a>
            </div>
        </div>*@
    @*BooStrap DropDown 끝*@
</nav>