<!DOCTYPE html>
<style>
    body {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Crown</a>
        <ul class="nav navbar-nav pull-right">
            <li><a asp-controller="Account" asp-action="Login">로그인</a></li>
            <li><a asp-controller="Account" asp-action="SignUp">회원가입</a></li>
            <li><a asp-controller="Home" asp-action="MySelf">자기소개</a></li>
        </ul>
    </nav>

    <div>
        @RenderBody()
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
    </div>
</body>
</html>