@{
    ViewBag.Title = "DKKY";
    Layout = "Charp_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  C# 기본자료형 </h4>
        <p>프로그래밍 언어는 자료를 손쉽게 다루기 위해 만들어졌습니다. 어떤 프로그래밍 언어를 공부하든 해당 프로그래밍 언어에서 사용되는 자료형을 먼저 알아보아야 합니다. C# 에는 많은 자료형이 있는데 많이 사용하는 자료형만 알아보겠습니다.</p>
        <br />
        <br />
        <h4>  정수 </h4>
        <p>가장 기본적인 자료형은 정수 입니다. 정수는 하나하나 셀 수 있는 숫자를 의미합니다. 정수는 연산자로 연산할 수 있습니다. <span>% 연산자</span>만 조심하면 됩니다. 수학에서 % 는 나누기로 적용하지만 C# 에서는 / 가 나누기 이고 <span>% 는 값을 나누고 남은 값</span>을 의미합니다.</p>
        <img src="~/images/integer.png" />
        <br />
        <br />
        <h4>  실수 </h4>
        <p>C# 에는 정수 외에 실수라는 숫자 자료형이 있습니다. 실수를 만들려면 소수점(.)을 사용합니다. 사칙연산자 개념은 정수와 같습니다. 차이점이라면 소수점이 있을 뿐 입니다.</p>
        <img src="~/images/realnumber.png" />
        <br />
        <br />
        <h4>  문자 </h4>
        <p>C# 에는 글자 하나를 나타내는 자료형이 있습니다. 글자 하나를 나타낼 때는 다음과 같이 ' 로 글자를 감싸줍니다.</p>
        <img src="~/images/char.png" />
        <br />
        <br />
        <h4>  문자열 </h4>
        <p>문자의 집합을 문자열이라고 부릅니다. 예를 들어 "안녕하세요." , "abcdefg" 가 문자열에 해당됩니다. <span>문자열은 +연산자만</span> 사용가능합니다.</p>
        <img src="~/images/string.png" />
        <br />
        <br />
        <h4>  불 </h4>
        <p>불은 참과 거짓을 표현할 때 사용합니다. 불 자료형은 <span>true , false 2가지만 결과값</span>으로 가집니다. 주로 불 자료형은 조건문에 많이 사용합니다.</p>
        <img src="~/images/bool.png" />
        <br />
        <br />
        <h4>  정리 및 핵심 </h4>
        <p>1. 기본적인 자료형은 정수 , 실수 , 문자 , 문자열 , 불 5가지 타입이 있다.</p>
        <p>2. 정수 중 % 연산자는 값을 나누고 남은 값이다.</p>
        <p>3. 불 자료형은 true , false 2가지만 결과값으로 가진다. </p>
        <p>4. 비교연산자 , 논리 연산자 , 이스케이프 등등 많은 연산자가 존재한다.</p>
        <br />
        <br />
    </div>
</div>