@{
    ViewBag.Title = "DKKY";
    Layout = "Charp_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  C# 연산자 </h4>
        <p>C# 에는 변수에 사용할 수 있는 연산자가 몇 가지 있습니다. </p>
        <br />
        <br />
        <h4>  산술 연산자 </h4>
        <p>우리가 기본적으로 알고 있는 <span>+</span> , <span>-</span> , <span>*</span> , <span>/</span> , <span>%</span> 5가지 입니다. 초등학교때 수학을 배우셨다면 모두 아실거라고 생각합니다. </p>
        <br />
        <br />
        <h4>  대입(할당) 연산자 </h4>
        <img src="~/images/Operator.png" />
        <br />
        <br />
        <h4>  관계 연산자 </h4>
        <img src="~/images/Operator2.png" />
        <br />
        <br />
        <h4>  논리 연산자 </h4>
        <img src="~/images/Operator3.png" />
        <br />
        <br />
        <h4>  정리 및 마무으리 </h4>
        <p>기본적인 연산자는 모두 알고있다고 생각합니다. 지금 다 외우려고 하지말고 진행하면서 자연스럽게 습득하는걸로 합시다. </p>
        <p>사진 출처 : brickbot님  </p>
        <br />
        <br />



    </div>
</div>