@{
    ViewBag.Title = "DKKY";
    Layout = "Charp_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  C# 클래스 </h4>
        <p>일단 클래스가 무엇인지와 클래스와 관련된 기본적인 용어를 살펴봅시다.</p>
        <p>클래스에는 속성을 나타내는 변수 외에도 행위를 나타내는 메서드를 넣을 수 있습니다.</p>
        <p>클래스는 하나의 사물에 비유할 수 있고 데이터 타입의 일종입니다.</p>
        <p>고유 속성과 행동이 정의된 사물이고 new 키워드로 객체를 생성해야 하나의 객체가 됩니다.</p>
        <p>클래스는 붕어빵 틀 입니다. 재료를 넣고 굽기전에는 아무것도 없는 틀에 불과합니다. </p>
        <p>new 키워드를 사용해서 객체를 생성하는 과정을 거처야 하나의 붕어빵이 되고 먹을 수 있습니다.</p>
        <p>객체를 생성하는 것을 인스턴스화(Instantiation) 라고 정의 한다.</p>
        <br />
        <br />
        <h4>  C# 예제 </h4>
        <p>중점으로 봐야 할 부분은 인스턴스화 부분이다. 해당 클래스를 사용하기 위해서는 인스턴스화가 필요하다고 했다.</p>
        <p>인스턴스화 후 클래스 안에 있는 메서드 및 필드를 활용할 수 있다.</p>
        <p>메서드는 항상 클래스안에서 존재하여야 한다.</p>
        <p>클래스가 불어빵 틀 이라고 한다면 메서드는 붕어빵을 만드는 기술이다.</p>
        <p><span>생성자는 인스턴스화 를 했을 때, 실행되는 함수이다.</span> 특이한점은 클래스와 이름이 동일하여야 한다. </p>
        <img src="~/images/class.png" />
        <br />
        <br />






    </div>
</div>