@{
    ViewBag.Title = "DKKY";
    Layout = "Charp_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  C# 변수 </h4>
        <p>변수는 값을 저장할 때 사용하는 식별자 입니다. 이름은 변수지만 숫자뿐만 아니라 모든 자료형을 저장할 수 있습니다.</p>
        <p>C# 은 관련 자료형이 정말 많지만 일반적으로 사용하는 자료형들이 있습니다.</p>
        <p><span>정수 자료형</span> , <span>실수 자료형</span> , <span>문자 자료형</span> , <span>문자열 자료형</span> , <span>불 자료형</span> 앞전에 설명드렸던 5가지 입니다.</p>
        <br />
        <br />
        <h4>  정수 자료형 </h4>
        <p>int : 4바이트 정수 , long : 8바이트 정수</p>
        <img src="~/images/int,long.png" />
        <br />
        <br />
        <h4>  실수 자료형 </h4>
        <p>float : 4바이트 실수 , double : 8바이트 실수</p>
        <p>float 의 경우 사용하려면 값 끝에 f 를 넣어줘야 합니다. float , double 차이를 알고 싶으신분은 구글링... 저는 그냥 double 사용합니다 ㅋㅋ</p>
        <img src="~/images/float,double.png" />
        <br />
        <br />
        <h4>  문자 자료형 </h4>
        <p>char : 문자 </p>
        <img src="~/images/charchar.png" />
        <br />
        <br />
        <h4>  문자열 자료형 </h4>
        <p>string : 문자열 </p>
        <img src="~/images/stringstring.png" />
        <br />
        <br />
        <h4>  불 자료형 </h4>
        <p>bool : true , false </p>
        <img src="~/images/boolbool.png" />
        <br />
        <br />
        <h4>  정리 및 마무으리 </h4>
        <p>int(정수) , string(문자열) , bool(참,거짓) 3개는 정말 많이 사용합니다. 3개만 기억합시다! </p>
        <br />
        <br />


    </div>
</div>