@{
    ViewBag.Title = "DKKY";
    Layout = "Charp_Layout.cshtml";
}


<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  C# 조건문 </h4>
        <p>조건문은 특정 조건이 만족하면 조건문의 대괄호 안에있는 코드를 수행하라고 정의하는 것 입니다. </p>
        <br />
        <br />
        <h4>  if 조건문 </h4>
        <p>if 조건문은 가장 기본적인 조건문입니다. </p>
        <p>볼 표현식이 true 면 문장을 실행하고 false 면 문장을 무시합니다.</p>
        <img src="~/images/if.png" />
        <br />
        <br />
        <h4>  if else 조건문 </h4>
        <p>두 가지로 분명하게 나뉘는 상황에서 편리하게 사용할 수 있는 if else 조건문 입니다. </p>
        <img src="~/images/else.png" />
        <br />
        <br />
        <h4>  중첩 조건문 </h4>
        <p>조건문 안에 조건문을 중첩해 사용하면 중첩 조건문이라고 표현하는데 여러번 중첩해도 상관없습니다. </p>
        <img src="~/images/중첩조건문.png" />
        <br />
        <br />
        <h4>  if else if 조건문 </h4>
        <p>중복되지 않는 조건 3 가지 이상을 구분할 때 사용합니다. </p>
        <img src="~/images/ifelseif.png" />
        <br />
        <br />
        <h4>  switch 조건문 </h4>
        <p>괄호 안에는 비교할 값을 입력하고, 입력한 값을 기준으로 특정 코드를 실행 합니다. </p>
        <p>해당 조건문에 걸리면 break 으로 조건문은 종료됩니다. </p>
        <img src="~/images/switch.png" />
        <br />
        <br />
        <h4>  삼항 연산자 </h4>
        <p>갑자기 연산자가 왜 나오지? 라고 생각하실 수 있지만, 연산자이지만 프로그램의 진행을 조건에 따라 변화시킬 수 있습니다. </p>
        <img src="~/images/삼항연산자.png" />
        <br />
        <br />
        <h4>  정리 및 마무으리 </h4>
        <p>조건문 <span>if</span> , <span>else if</span> , <span>else</span> , <span>switch</span> 4가지 기억하자 </p>
        <p>외우지마세요! </p>
        <br />
        <br />






    </div>
</div>