@{
    ViewData["Title"] = "Home Page";
}


<h1>자유게시판</h1>
<table class="table">
    <thead>
        @*<tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">좋아요</th>
            <th scope="col">댓글</th>
        </tr>*@
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td style="width:80%;"><a asp-controller="" asp-action="">제목</a></td>
            <td style="width:10%;"><a asp-controller="" asp-action="">좋아요</a></td>
            <td style="width:10%;"><a asp-controller="" asp-action="">댓글</a></td>
        </tr>
    </tbody>
</table>
<br />

<h1>질문&답변</h1>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td style="width:80%;"><a asp-controller="" asp-action="">제목</a></td>
            <td style="width:10%;"><a asp-controller="" asp-action="">좋아요</a></td>
            <td style="width:10%;"><a asp-controller="" asp-action="">댓글</a></td>
        </tr>
    </tbody>
</table>