@{ 
    Layout = "React_Layout.cshtml";
}

<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <br />
        <p>Component 분리를 해보겠습니다. 분리 이유는 소스 간결화 입니다.</p>
        <p>Component 함수를 생성하고 그안에 기존에 있던 소스를 담습니다.</p>
        <p>그리고 App 함수안에 Component 함수명을 선언해줍니다.</p>
        <img src="~/images/component_1.png" />




























    </div>
</div>