@{ 
    Layout = "React_Layout.cshtml";
}

<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <br />
        <p>기존 JavaScript는 HTML 소스안에서 여러가지 Evnet를 발생시킬 수 있습니다.</p>
        <p>React 역시 JSX을 사용하여 Event를 발생시킬 수 있습니다.</p>
        <p>문법은 조금 다르지만 원리는 동일합니다.</p>
        <img src="~/images/event_1.png" />
        <br />
        <br />
        <br />
        <p>countfun은 count 값을 변경하는 함수 입니다.</p>
        <p>countfun을 사용해서 count 값을 변경하고 변경한 count 값을 View에 랜더링 합니다.</p>
        <img src="~/images/event_2.png" />
        <br />
        <br />
        <br />
        <p>함수를 따로 만들수도 있습니다.</p>
        <p>state 값을 배열에 담고 Event 발생시 state 값을 변경합니다.</p>
        <img src="~/images/event_3.png" />
        <br />
        <br />
        <br />
        <h4> - JSX를 사용하여 JavaScript와 같이 Event 가능하다.</h4>
        <h4> - 기존 JavaScript 문법과 조금 다르다.</h4>



























    </div>
</div>