@{ 
    Layout = "React_Layout.cshtml";
}

<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <br />
        <p>JSX는 JavaScript XML 줄임말입니다.</p>
        <p>HTML 코드를 자바스크립트 형태로 변환시킨다. 그 덕분에 Script 와 HTML 같이 사용 가능합니다.</p>
        <p>function 안에 HTML 코드가 있습니다. JSX 덕분입니다. </p>
        <img src="~/images/JSX_1.png" />
        <br />
        <br />
        <br />
        <p>기존 HTML 같이 Class 지정이 가능합니다.</p>
        <p>JSX 에서는 ClassName 속성을 사용합니다.</p>
        <img src="~/images/JSX_2.png" />
        <br />
        <br />
        <br />
        <p>이제 JSX 라는 ClassName 에 css 적용해보도록 하겠습니다.</p>
        <p>src-App.css 이동해서 기존 css 소스 작성하듯이 합니다.</p>
        <img src="~/images/JSX_3.png" />
        <br />
        <br />
        <br />
        <p>JSX Test 라는 문구를 하드코딩 말고 변수에 담아서 출력 하겠습니다.</p>
        <p>JavaScript 문법가 동일하게 변수를 생성해준뒤 {} 안에 넣어줍니다.</p>
        <img src="~/images/JSX_4.png" />
        <br />
        <br />
        <br />
        <p>이제 실행해서 한번 보도록 하겠습니다.</p>
        <p>터미널에 npm start 명령어 입력하고 Enter</p>
        <p>적용한 css 와 JavaScript 변수가 적용 되었을 겁니다.</p>
        <p>HTML 에서 style 속성이 있습니다. JSX 에서도 똑같이 사용가능합니다.</p>
        <p>신경써야 할 부분은 font-Size 잘못된 표현이고 fontSize 가 맞습니다. (-) 사용이 불가능합니다. </p>
        <img src="~/images/JSX_5.png" />
        <br />
        <br />
        <br />
        <h4> - JSX 는 JavaScript XML 줄임말이다.</h4>
        <h4> - JSX 는 JavaScript 함수안에 HTML 을 사용할 수 있도록 해준다.</h4>
        <h4> - className 속성을 사용해야 한다. (Class 속성 X)</h4>
        <h4> - JavaScript 함수 기반이므로 당연히 변수 사용이 가능하다.</h4>
        <h4> - style 속성도 존재하며 문법이 조금 다르다.</h4>


























    </div>
</div>