@await Html.PartialAsync("_HeaderPartial")

<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />

<style>
    /* 사이드바 래퍼 스타일 */

    #page-wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        position: fixed;
        width: 250px;
        height: 100%;
        margin-left: -250px;
        background: #000;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #page-content-wrapper {
        width: 100%;
        padding: 20px;
    }
    /* 사이드바 스타일 */

    .sidebar-nav {
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .sidebar-nav li {
            text-indent: 1.5em;
            line-height: 2.8em;
        }

            .sidebar-nav li a {
                display: block;
                text-decoration: none;
                color: #999;
            }

                .sidebar-nav li a:hover {
                    color: #fff;
                    background: rgba(255, 255, 255, 0.2);
                }

        .sidebar-nav > .sidebar-brand {
            font-size: 1.3em;
            line-height: 3em;
        }

    /*가운데 내용 시작*/
    .carousel-item {
        height: 300px;
    }
    /*가운데 내용 끝*/
    img {
        background-color: blueviolet;
    }

    span {
        color: red;
    }

    h4{
        display:flex;
        padding-left:100px;
    }
</style>

<!-- 사이드바 -->
<div id="page-wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">React</a>
            </li>
            <li><a asp-controller="React" asp-action="React">Hello React</a></li>
            <li><a asp-controller="React" asp-action="JSX">JSX</a></li>
            <li><a asp-controller="React" asp-action="State">State</a></li>
        </ul>
    </div>
</div>
<!-- /사이드바 -->

@RenderBody()

@await Html.PartialAsync("_FooterPartial");
