@{ 
    Layout = "React_Layout.cshtml";
}

<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <br />
        <p>Node.js를 설치해 줍니다.</p>
        <p>React를 좀 더 편하게 사용하기 위해 필요합니다.</p>
        <p>각 OS에 맞게 설치해주면 됩니다.</p>
        <p>저는 Windows 때문에, Windows 설치</p>
        <img src="~/images/HelloReact_1.png" />
        <br />
        <br />
        <br />
        <p>그 다음은 VS Code 설치해 줍니다.</p>
        <img src="~/images/HelloReact_2.png" />
        <br />
        <br />
        <br />
        <p>적당한 경로에 폴더를 생성해줍니다. (D:\taco\ReactTest)</p>
        <p>VS Code 실행시키고 File-Open Foler 선택하고 방금 생성했던 경로 지정해줍니다. </p>
        <p>그럼 왼쪽에 생성했던 폴더명이 보일 겁니다.</p>
        <p>상단바에 Terminal-New Terminal 선택합니다.</p>
        <p>그럼 하단에 bar가 보일 겁니다.</p>
        <p>아래 터미널에 npx create-react-app [앱 이름]을 입력해줍니다.</p>
        <p>여기서 사용하는 npx가 Node.js 입니다. React 편하게 사용하게 해줍니다.</p>
        <p>해당 명령어는 React 패키지를 통으로 설치하게 해주는 명령어 입니다.</p>
        <p>입력 후 Enter 눌러주세요.</p>
        <p></p>
        <img src="~/images/HelloReact_3.png" />
        <br />
        <br />
        <br />
        <p>설치가 완료된 화면입니다.</p>
        <img src="~/images/HelloReact_4.png" />
        <br />
        <br />
        <br />
        <p>왼쪽 사이드바 보면 내가 지정했던 App Name 보일 겁니다.</p>
        <p>src-App.js 파일을 열어줍니다. 그리고 p 태그안에 Hello React 입력해주세요.</p>
        <p>App.js 파일이 실제 페이지 소스라고 생각하면 됩니다.</p>
        <img src="~/images/HelloReact_5.png" />
        <br />
        <br />
        <br />
        <p>소스 수정을 완료했으면 npm start 명령어를 입력해주세요. Enter 꾸욱</p>
        <img src="~/images/HelloReact_6.png" />
        <br />
        <br />
        <br />
        <p>문제가 발생했습니다. Error 발생</p>
        <p>파일을 찾을 수 없어서 발생한 Error 같네요.</p>
        <img src="~/images/HelloReact_7.png" />
        <br />
        <br />
        <br />
        <p>경로가 문제인 것 같네요. 경로를 변경해 줍니다.</p>
        <p>cd [디렉토리 경로]</p>
        <img src="~/images/HelloReact_8.png" />
        <br />
        <br />
        <br />
        <p>경로 변경 후 다시 명령어 npm start를 입력해주세요. Enter 꾸욱</p>
        <p>브라우저가 열리면서 아까 입력했던 Hello React 보이면 성공</p>
        <img src="~/images/HelloReact_9.png" />
        <br />
        <br />
        <br />
        <p>node_modules : 라이브러리</p>
        <p>public : static file</p>
        <p>public-index.html 를 보면 div 태그안에 id root 이 존재합니다. root 을 호출해서 페이지를 보여줍니다.</p>
        <p>src-index.js 을 보면 root 을 랜더링 하게 설정 되어 있습니다.</p>
        <p>상단에 보면 App 이라는 함수를 포워딩 하고 있습니다.</p>
        <p>App.js -> index.html 로 가는 중간역활을 index.js 가 하고 있습니다.</p>
        <p>App.js(소스), index.js(통로), index.html(페이지) 정도로 정리하면 될 것 같습니다.</p>
        <img src="~/images/HelloReact_10.png" />





















    </div>
</div>