@{ 
    Layout = "React_Layout.cshtml";
}

<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <br />
        <p>State 는 React 를 다루는 핵심 요소 입니다.</p>
        <p>State 는 변경되면 자동으로 렌더링을 실행합니다.</p>
        <p>변수 대신 쓰는 데이터 저장공간 이며 useState() 함수를 사용해서 만든다.</p>

























    </div>
</div>