@{ 
    Layout = "DB_Layout";
}

<div class="row text-center" style="width:100%">
    <div style="width:50%; float:none; margin:0 auto">
        <br />
        <h4>  Trigger </h4>
        <br />
        <p>Trigger는 방아쇠라는 뜻인데, 방아쇠를 당기면 자동으로 총알이 날아가죠?</p>
        <p>Trigger는 특정 테이블에 DML문이 수행되었을 때, DB에서 자동으로 동작하도록 하는 기능입니다. </p>
        <p>사용자가 직접 호출하는 것이 아니라, DB에서 자동으로 호출하는 것이 특징 입니다.</p>
        <p></p>

    </div>
</div>